body {
  font-family: "Barlow", sans-serif;
}

footer {
  font: {
    size: 30px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      font: {
        size: 20px;
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    font: {
      size: 30px;
    }
  }
}

.texto {
  font: {
    size: 30px;
  }
}

h1 {
  font: {
    size: 40px;
  }
}

.divOpiniones {
  font: {
    size: 20px;
  }
}

.switch {
  font: {
    size: 20px;
  }
}
